{% extends 'layouts/nav.html' %} {% block content %}

<main data-aos="fade-up">
    
  <section id="hero" class="hero d-flex align-center">
    <div class="container">
      <div class="row">
        <!-- <h1> Acceder al sistema</h1> -->

<!-- <form method="POST" class="post-form" action="{% url 'about' %}"> 
    {% csrf_token %}
    <div class="card w-50 bg-transparent mx-auto justify-content-center border-0">
        <div class="card-body w-50 mx-auto">
          {{ form.as_p}}
        </div>
        <button type="submit" class="btn btn-primary mx-auto w-25" href="{% url 'about' %}">Ingresar</a>
      </div>
    
</form> -->
<form method="POST" class="post-form" enctype="multipart/form-data"> 
  <!-- Email input -->
  {% csrf_token %}
  <div class="card w-25 bg-transparent mx-auto justify-content-center border-0 my-5">
   <h3 class="h3 mb-3 fw-normal" style="color: #012970;">INICIA SESION</h3>
    <!-- <label for="username" class="form-label" style="text-size-adjust: 100;">INGRESA</label>   -->
  <div class="form-outline mb-3">
    <input type="number" class="form-control" name="username" id="username" placeholder="Ingresa DNI" data-sider-select-id="c1ce0916-08d8-4d29-84cd-8aba9081f669" required autofocus>

  </div>
  <!-- Password input -->
  <div class="form-outline mb-4">
    <!-- <label for="password" class="form-label">Contraseña</label> -->
    <input type="password" id="password" name="password" class="form-control" placeholder="Ingresa Contraseña" required>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <!-- <div class="row mb-4">
    <div class="col d-flex justify-content-center">
       Checkbox
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>
    
    <div class="col">
      Simple link 
      <a href="#!">Recuperar contraseña?</a>
    </div>
  </div> -->

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Ingresar</button>
  
  <!-- Registro buttons -->
  <div class="text-center">
    <!-- <p>No estas registrado? <a href="{% url 'registro' %}">Registrarse</a></p> -->
    <p class="mt-5 mb-3 text-body-secondary">© Reniec–2024</p>
  </div>

</div>
</form>
</div>
</div>
</section>
</main>
{%endblock%}