{% extends 'layouts/nav.html' %} {% block content %}

<main data-aos="fade-up">
    
  <section id="hero" class="hero d-flex align-center">
    <div class="container">
      <div class="row">
        <h1> Login</h1>

<!-- <form method="POST" class="post-form" action="{% url 'about' %}"> 
    {% csrf_token %}
    <div class="card w-50 bg-transparent mx-auto justify-content-center border-0">
        <div class="card-body w-50 mx-auto">
          {{ form.as_p}}
        </div>
        <button type="submit" class="btn btn-primary mx-auto w-25" href="{% url 'about' %}">Ingresar</a>
      </div>
    
</form> -->
<form method="POST" class="post-form" action="{% url 'about' %}"> 
  <!-- Email input -->
  {% csrf_token %}
  <div class="card w-25 bg-transparent mx-auto justify-content-center border-0 my-5">
  <div class="form-outline mb-3">
    <input type="text" id="form2Example1" class="form-control" value="{{ name }}" required/>
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" value="{{password}}" required/>
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Recuperar contraseña?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" href="{% url 'about' %}">Ingresar</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>No estas registrado? <a href="{% url 'register' %}">Registrarse</a></p>
  </div>
</div>
</form>
</div>
</div>
</section>
</main>
{%endblock%}