{% extends 'layouts/base_zero.html' %} 
{% block content %}
{% load static %}
<main>
  <section id="hero" class="hero d-flex align-center">
      </div> 
      <div class="container">
        <div class="mx-auto my-5">
          <h1>
          <a type="button" href="{% url 'index' %}" class="btn-close" aria-label="Close"></a>
          Menú Principal
        </h1>
      </div>
        <div class="row g-3 my-5">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                                        <div class="card-body">
                        <h5 class="card-title">Registrar Bienes</h5>
                        <p class="card-text">Nuevos bienes que se van a ingresar al sistema.</p>
                        <a href="{% url 'create_products' %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"> Busqueda de Bienes</h5>
                        <p class="card-text">Puede buscar bienes registrados.</p>
                         <a href="{% url 'register' %}" class="btn btn-primary">Go somewhere</a>
                    </div>


                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                                <div class="card-body">
                        <h5 class="card-title">Registrar Usuarios</h5>
                        <p class="card-text">Ingrese nuevos usuarios autorizados previamente por Funcionario mediante documento autorizado.</p>
                        <a href="{% url 'register' %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                      <div class="card-body">
                      <h5 class="card-title">Busqueda de Usuarios</h5>
                      <p class="card-text">Puede buscar usuarios registrados con el nro DNI.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                        <div class="card-body">
                      <h5 class="card-title">Registro de Transferencias</h5>
                      <p class="card-text">Puede realizar transferencia de bienes entre usuarios.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Registro de Salida de Bienes/h5>
                      <p class="card-text">Puede registrar salida de bienes a detalle.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
        </div>
    </div>
    
  </section>
</main>
{% endblock %}
